* {
	margin: 0;
	padding: 0;
}

.flag-grid {
	max-width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
	/* grid-auto-columns: minmax(200px, 300px); */
	gap: 20px;
	padding: 1em;
	justify-content: center;
}

.countryCard {
	/* background-color: pink; */
	border: 1px solid rgba(66, 65, 65, 0.447);
	border-radius: 5px;
	padding: 1em;
	display: flex;
	gap: 1em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& > img {
		/* height: 50px; */
		width: 80%;
		aspect-ratio: 1.2;
	}
	& > p {
		font-weight: bold;
	}
}

.search-container {
	/* background-color: pink; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
}

.search {
	width: 500px;
	padding: 0.2em;
}
